<html lang="en">
<head>
    <title>Pagina Home</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="styles.css">
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</head>
<body background="/static/images/background.jpg" class="hola">
    <nav>
    <div class="nav-wrapper white ">
      <a href="/home.html" class="brand-logo black-text">Nombre de restaurante</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="/restaurantes.html" class="black-text">restaurantes</a></li>
      </ul>
    </div>
  </nav>
    <br/>
    <br/>