<html lang="en">
<head>
    <title>Pagina Home</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/css/styles.css">
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</head>
<body background="/static/images/background.jpg" class="hola">
    <nav>
    <div class="nav-wrapper white ">
      <a href="/home.html" class="brand-logo black-text">Nombre de restaurante</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li class="movido"><a href="/menu.html"class="black-text ">menu</a></li>
        <li class="movido"><a href="/personal.html" class="black-text">personal</a></li>
        <li class="movido"><a href="/restaurantes.html" class="black-text">restaurantes</a></li>
      </ul>
    </div>
  </nav>
    <br/>
    <br/>

<div class="row">
      <div class="col s5">1</div>
    <div class="col s3">
        <img src="/static/images/menu.jpg">
    </div>
</div>
    <div class="row">
      <div class="col s5"></div>
        <div class="col s3 ">
            <div class="row">
            <div class="col s2"></div>
            <div class="col s2"><h3>   MENU</h3></div>
            </div>
            </div>
</div>

<div class="row">
      <div class="col s3">1</div>
    <div class="col s3">
        <img src="/static/images/personal.jpg" width="70%" >
    </div>
    <div class="col s2"></div>
    <div class="col s3">
        <img src="/static/images/restaurantes.jpg" width="60%">
    </div>
</div>
    <div class="row">
      <div class="col s3"></div>
        <div class="col s3 ">
            <div class="row">
            <div class="col s1"></div>
            <div class="col s2"><h3>PERSONAL</h3></div>
            </div>
            </div>
        <div class="col s2"></div>
        <div class="col s3 ">
            <div class="row">
            <div class="col s2"><h3>Restaurantes</h3></div>
            </div>
            </div>
</div>




</body>




</html>