<html lang="en">
<head>
    <title>Pagina Home</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="styles.css">
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</head>
<body background="/static/images/background.jpg" class="hola">
    <nav>
    <div class="nav-wrapper white ">
      <a href="/home.html" class="brand-logo black-text">Nombre de restaurante</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li class="movido"><a href="/restaurantes.html" class="black-text">restaurantes</a></li>
      </ul>
    </div>
  </nav>
    <br/>
    <br/>
    <div class="row   ">
        <div class="col s2 "></div>
      <div class="col s8 red accent-1">
          <h3>MENU</h3>
        <table class="responsive-table striped">
        <thead>
          <tr>
              <th>Entrada</th>
              <th>Plato de fondo</th>
              <th>Postre</th>
          </tr>
        </thead>

        <tbody>
          <tr>
            <td>Papa a la Huancaina</td>
            <td>Arroz con Pollo</td>
            <td>Gelatina</td>
          </tr>
          <tr>
            <td>Ensalada Rusa</td>
            <td>Pollo al Horno con ensalada</td>
            <td>Flan</td>
          </tr>
          <tr>
            <td>Ceviche</td>
            <td>Seco de carne</td>
            <td>Arroz con Leche</td>
          </tr>
        </tbody>
      </table>
      </div>

    </div>



</body>




</html>