<html lang="en">
<head>
    <title>Pagina Home</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="styles.css">
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</head>
<body background="/static/images/background.jpg" class="hola">
    <nav>
    <div class="nav-wrapper white ">
      <a href="/home.html" class="brand-logo black-text">Nombre de restaurante</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li class="movido"><a href="/restaurantes.html" class="black-text">restaurantes</a></li>
      </ul>
    </div>
  </nav>
    <br/><br/>
<div class="row   ">
        <div class="col s2 "></div>
      <div class="col s8 blue lighten-4">
          <h3>Personal</h3>
        <table class="responsive-table striped">
        <thead>
          <tr>
              <th>Nombre</th>
              <th>Apellido</th>
              <th>Puesto</th>
              <th>Restaurant actual</th>
          </tr>
        </thead>

        <tbody>
          <tr>
            <td>Cesar</td>
            <td>Madera</td>
            <td>Chef</td>
              <td>Jesus Maria</td>
          </tr>
          <tr>
            <td>Alejandro</td>
            <td>Goinochea</td>
              <td>Mesero</td>
            <td>Miraflores</td>
          </tr>
          <tr>
            <td>Estefano</td>
            <td>Huirtele</td>
            <td>Cajero</td>
              <td>Chorrillos</td>
          </tr>
        <tr>
            <td>Jesus</td>
            <td>Bellido</td>
            <td>Gerente</td>
            <td>Chorrillos</td>
          </tr>
        </tbody>
      </table>
      </div>

    </div>


</body>

</html>
