<html>
  <head>
    <title>Nuevo Restaurante</title>
  </head>
  <body>
    <form method='POST' enctype='multipart/form-data' action = '/restaurantes/new'></br>
      <input name='nombre' type='text' placeholder = 'Nombre de Restaurante'></br>
      <input name='owner' type='text' placeholder = 'Dueño'></br>
      <input name='direccion' type='text' placeholder = 'Direccion'></br>
      <input name='telefono' type='text' placeholder = 'Telefono'></br>
      <input type='submit' value='Create'>
  </form>
  </body>
</html>
