<style type="text/css">

body {

    -o-background-size:100% 100%;             /*  Opera  */
    -webkit-background-size:100% 100%;        /*  Safari  */
    -khtml-background-size:100% 100%;         /*  Konqueror  */
    background-repeat:no-repeat;
    background-attachment:fixed;
	}
</style>